<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483314834933-fgolniqrj6jc580vnfsmif2h9oufjni9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483314834933-fgolniqrj6jc580vnfsmif2h9oufjni9</string>
	<key>API_KEY</key>
	<string>AIzaSyB75EfIRYVTEsB_jQze1W6yhJOeFqYG88o</string>
	<key>GCM_SENDER_ID</key>
	<string>483314834933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orloveflowers.orloveApp</string>
	<key>PROJECT_ID</key>
	<string>orloveiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>orloveiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483314834933:ios:af3a690182d268949254bc</string>
</dict>
</plist>